# 0. Vorbereitung

In [166]:
import pandas as pd
import os
import glob

In [107]:
pd.set_option("display.max_columns", None)

Die nächste Zelle ist wichtig, denn hier werden die BA-Excel mit den Daten des jeweiligen Jahrgangs eingelesen, die dann im weiteren Verlauf umgeformt werden. Wenn mit anderen Jahrgängen gearbeitet werden soll, müssen Dateinamen, sheet names angepasst werden.

In [168]:

# Dateinamen und Tabellennamen
file_names = [
    ("230328_EA_338634_Gemeindedaten_Teil1.xlsx", "2014"),
    ("230328_EA_338634_Gemeindedaten_Teil3.xlsx", "2018"),
    ("230328_EA_338634_Gemeindedaten_Teil5.xlsx", "2021")
]

# Dictionary für die Dataframes
dataframes = {}

# Iteriere über die Dateien und Tabellennamen
for file_name, sheet_name in file_names:
    # Einlesen des spezifischen Tabellenblatts in ein DataFrame
    df = pd.read_excel(file_name, sheet_name=sheet_name)
    # DataFrame im Dictionary speichern
    dataframes["ba_" + sheet_name] = df

# Zugriff auf die Dataframes
ba_2014 = dataframes["ba_2014"]
ba_2018 = dataframes["ba_2018"]
ba_2021 = dataframes["ba_2021"]

In [169]:
ba_2021.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Grundsicherung für Arbeitsuchende (SGB II)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eckwerte der Grundsicherung nach Gemeinden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deutschland - Gemeinden (Gebietsstand Dezember...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Jahresdurchschnitt 2021, Datenstand: März 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Daten zu Leistungen nach dem SGB II nach einer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Gemeinde,Leistungs-berechtigte (LB),Insgesamt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,darunter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Männer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Frauen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,dar. (Sp. 1) im Alter von ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dar. (Sp. 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Leistungs-berechtigte (LB),dar. (Sp. 25) im Alter von ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dar. (Sp. 25),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Leistungs-berechtigte (LB),dar. (Sp. 49) im Alter von ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dar. (Sp. 49),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,unter 65 Jahren,dav. (Sp. 2),NaN,NaN,NaN,NaN,NaN,NaN,15 bis unter 18 Jahren (Kinder),Erwerbs-fähige Leistungs-berechtigte (ELB),dar. (Sp. 11),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unter 65 Jahren,dav. (Sp. 26),NaN,NaN,NaN,NaN,NaN,NaN,15 bis unter 18 Jahren (Kinder),Erwerbs-fähige Leistungs-berechtigte (ELB),dar. (Sp. 35),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unter 65 Jahren,dav. (Sp. 50),NaN,NaN,NaN,NaN,NaN,NaN,15 bis unter 18 Jahren (Kinder),Erwerbs-fähige Leistungs-berechtigte (ELB),dar. (Sp. 59),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,unter 15 Jahren,dav. (Sp. 3),NaN,NaN,15 bis unter 18 Jahren,18 bis unter 25 Jahren,25 bis unter 65 Jahren,NaN,NaN,erziehende ELB,dar. (Sp. 12),arbeit-suchende ELB insgesamt,dav. (Sp. 14) nach Schulbildung,NaN,NaN,NaN,NaN,NaN,dav. (Sp. 14) nach Berufsausbildung,NaN,NaN,NaN,NaN,NaN,unter 15 Jahren,dav. (Sp. 27),NaN,NaN,15 bis unter 18 Jahren,18 bis unter 25 Jahren,25 bis unter 65 Jahren,NaN,NaN,erziehende ELB,dar. (Sp. 36),arbeit-suchende ELB insgesamt,dav. (Sp. 38) nach Schulbildung,NaN,NaN,NaN,NaN,NaN,dav. (Sp. 38) nach Berufsausbildung,NaN,NaN,NaN,NaN,NaN,unter 15 Jahren,dav. (Sp. 51),NaN,NaN,15 bis unter 18 Jahren,18 bis unter 25 Jahren,25 bis unter 65 Jahren,NaN,NaN,erziehende ELB,dar. (Sp. 60),arbeit-suchende ELB insgesamt,dav. (Sp. 62) nach Schulbildung,NaN,NaN,NaN,NaN,NaN,dav. (Sp. 62) nach Berufsausbildung,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,unter 3 Jahren,3 bis unter 6 Jahren,6 bis unter 15 Jahren,NaN,NaN,NaN,NaN,NaN,NaN,allein-erziehende ELB,NaN,kein Hauptschul-abschluss,Hauptschul-abschluss,mittlere Reife,Fachhoch-schule,Abitur/ Hochschul-reife,keine Angabe,ohne abge-schlossene Berufs-ausbildung,betriebliche/schulische Ausbildung,akade-mische Ausbildung,keine Angabe,NaN,NaN,NaN,unter 3 Jahren,3 bis unter 6 Jahren,6 bis unter 15 Jahren,NaN,NaN,NaN,NaN,NaN,NaN,allein-erziehende ELB,NaN,kein Hauptschul-abschluss,Hauptschul-abschluss,mittlere Reife,Fachhoch-schule,Abitur/ Hochschul-reife,keine Angabe,ohne abge-schlossene Berufs-ausbildung,betriebliche/schulische Ausbildung,akade-mische Ausbildung,keine Angabe,NaN,NaN,NaN,unter 3 Jahren,3 bis unter 6 Jahren,6 bis unter 15 Jahren,NaN,NaN,NaN,NaN,NaN,NaN,allein-erziehende ELB,NaN,kein Hauptschul-abschluss,Hauptschul-abschluss,mittlere Reife,Fachhoch-schule,Abitur/ Hochschul-reife,keine Angabe,ohne abge-schlossene Berufs-ausbildung,betriebliche/schulische Ausbildung,akade-mische Ausbildung,keine Angabe
13,NaN,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72
14,"01001000 Flensburg, Stadt",11004.2,10947.2,2974.58,723.5,690.75,1560.33,422.583,1240.17,6309.83,410.333,7870.17,2726.08,1123.58,5436.42,1005.67,1964.75,778.417,265.5,534.917,887.167,3728.83,1460.83,245,1.75,5589.42,5558,1477.17,359.333,343.417,774.417,190.917,604.833,3285.08,184.417,4044.83,900.333,109,3132.92,612.25,1186,422.917,181.25,314.083,416.417,2159.25,823.417,149.25,1,5414.75,5389.17,1497.42,364.167,347.333,785.917,231.667,635.333,3024.75,225.917,3825.33,1825.75,1014.58,2303.5,393.417,778.75,355.5,84.25,220.833,470.75,1569.58,637.417,95.75,0.75
15,"01002000 Kiel, Landeshauptstadt",30537,30319.8,8281,1701.75,1810.33,4768.92,1433.17,2752.83,17852.8,1407.25,21834.3,7475.83,2339.08,15142.2,3391.5,4816.33,2172.42,780.25,2230.25,1751.42,10315.7,3686.25,1132.75,7.5,15800.2,15668.1,4169.92,852.5,901.667,2415.75,740.5,1418.83,9338.83,726.667,11430.5,2716.58,199.667,8679.75,1990.33,2787.67,1199.5,483.5,1285.75,933,5938.42,2118.5,619.5,3.33333,14736.8,14651.7,4111.08,849.25,908.667,2353.17,692.667,1334,8513.92,680.583,10403.8,4759.25,2139.42,6462.42,1401.17,2028.67,972.917,296.75,944.5,818.417,4377.25,1567.75,513.25,4.16667
16,"01003000 Lübeck, Hansestadt",23171.2,22987.6,6281.08,1161.92,1426.75,3692.42,972.917,1950.75,13782.8,950.167,16558.8,5550.58,2005.58,11995.8,2288.17,4181.58,1798.5,566.75,966.083,2194.75,8144.25,3330.83,517.5,3.25,11834.8,11738.5,3270,587.583,747.333,1935.08,526.667,990.667,6951.17,516.583,8405.33,1895.92,163,6587.75,1318.17,2405.25,899.583,338.833,526.5,1099.42,4483.67,1823.33,279.333,1.41667,11336.4,11249.1,3011.08,574.333,679.417,1757.33,446.25,960.083,6831.67,433.583,8153.5,3654.67,1842.58,5408.08,970,1776.33,898.917,227.917,439.583,1095.33,3660.58,1507.5,238.167,1.83333
17,"01004000 Neumünster, Stadt",8845.17,8801.92,2445.75,513.167,533.583,1399,385.333,909.833,5061,376.25,6229.17,2239.33,859.75,4532.42,1001.75,1721.83,516.667,130.5,279,882.667,3321.5,1064.58,145.833,0.5,4464,4442.08,1236.33,277.583,266.333,692.417,202,433.75,2570,196.5,3144.58,738.583,65,2509.08,592.5,941.583,283.667,90.4167,162.75,438.167,1812.25,608.917,87.8333,0.0833333,4381.17,4359.83,1209.42,235.583,267.25,706.583,183.333,476.083,2491,179.75,3084.58,1500.75,794.75,2023.33,409.25,780.25,233,40.0833,116.25,444.5,1509.25,455.667,58,0.416667
18,01051001 Albersdorf,289,288.083,71.3333,16.4167,16.3333,38.5833,13.5,28.5833,174.667,13.5,207.667,68.5833,30,135.917,32.8333,56.6667,13,7.91667,4.83333,20.6667,84.6667,46.1667,5,0.0833333,137.333,137,33.3333,6.08333,8.16667,19.0833,5.75,10.75,87.1667,5.75,98.1667,21.9167,2.41667,70.9167,18.0833,31.5833,5.75,4.5,2.75,8.25,42,27.1667,1.66667,0.0833333,151.667,151.083,38,10.3333,8.16667,19.5,7.75,17.8333,87.5,7.75,109.5,46.6667,27.5833,65,14.75,25.0833,7.25,3.41667,2.08333,12.4167,42.6667,19,3.33333,0
19,01051002 Arkebek,18.0833,17.1667,9,0.0833333,2.75,6.16667,1.75,0.25,6.16667,1.75,9.08333,3.66667,1.66667,5.25,1.41667,3,0,0,0,0.833333,4.5,0.75,0,0,9.25,8.66667,5.16667,0,0.916667,4.25,1.75,0.25,1.5,1.75,4.08333,1,0,1.91667,0,1.08333,0,0,0,0.833333,1.83333,0.0833333,0,0,8.83333,8.5,3.83333,0.0833333,1.83333,1.91667,0,0,4.66667,0,5,2.66667,1.66667,3.33333,1.41667,1.91667,0,0,0,0,2.66667,0.666667,0,0

# 1. BA-Daten umformen

### 1.1 Grundlegende Umformung

In [170]:
def transform_dataframe(df):
    # Zeilen 0 bis 7 entfernen
    df = df.drop(df.index[0:7])
    # Letzte Zeile entfernen
    df = df.drop(df.index[-1])
    
    # Spalte 'Unnamed: 0' nach Leerzeichen trennen und in neue Spalten 'AGS' und 'Gebiet' aufteilen
    df[['AGS', 'Gebiet']] = df['Unnamed: 0'].str.split(' ', 1, expand=True)
    # Spalte 'Unnamed: 0' entfernen
    df = df.drop(['Unnamed: 0'], axis=1)
    
    # Erstellen einer Kontrollspalte 'Gesamtwerte_Kontrolle' mit den Spalten 'AGS', 'Gebiet' und 'Unnamed: 1'
    Gesamtwerte_Kontrolle = df[['AGS', 'Gebiet', 'Unnamed: 1']].copy()
    
    # Spalte 'Unnamed: 1' entfernen
    df.drop(['Unnamed: 1'], axis=1, inplace=True)
    
    # Nur Spalten ab der 23. Spalte behalten
    df = df.iloc[:, 23:]
    
    # Fehlende Werte in Zeile 5 mit den Werten der vorherigen Zeilen füllen
    df.iloc[5] = df.iloc[5].fillna(df.iloc[4])
    df.iloc[5] = df.iloc[5].fillna(df.iloc[3])
    df.iloc[5] = df.iloc[5].fillna(df.iloc[2])
    
    # Zeilen 7, 9, 10, 11 und 13 entfernen
    df = df.drop([7, 9, 10, 11, 13])
    
    # Letzte beiden Werte in Zeile 1 mit den Werten der letzten beiden Spaltennamen füllen
    df.iloc[1, -1] = df.columns[-1]
    df.iloc[1, -2] = df.columns[-2]
    
    # Neue Spaltennamen aus Zeile 1 erstellen
    new_columns = df.iloc[1].tolist()
    # Spaltennamen aktualisieren
    df = df.set_axis(new_columns, axis=1, inplace=False)
    
    # Zeile 12 entfernen
    df = df.drop(12)
    
    # Transformiertes DataFrame zurückgeben
    return df


# Dataframes erstellen
ba_2014 = transform_dataframe(ba_2014)
ba_2018 = transform_dataframe(ba_2018)
ba_2021 = transform_dataframe(ba_2021)

In [172]:
ba_2018.head()

,Leistungs-berechtigte (LB),unter 65 Jahren,unter 15 Jahren,unter 3 Jahren,3 bis unter 6 Jahren,6 bis unter 15 Jahren,15 bis unter 18 Jahren,18 bis unter 25 Jahren,25 bis unter 65 Jahren,15 bis unter 18 Jahren (Kinder),Erwerbs-fähige Leistungs-berechtigte (ELB),erziehende ELB,allein-erziehende ELB,arbeit-suchende ELB insgesamt,kein Hauptschul-abschluss,Hauptschul-abschluss,mittlere Reife,Fachhoch-schule,Abitur/ Hochschul-reife,keine Angabe,ohne abge-schlossene Berufs-ausbildung,betriebliche/schulische Ausbildung,akade-mische Ausbildung,keine Angabe,Leistungs-berechtigte (LB),unter 65 Jahren,unter 15 Jahren,unter 3 Jahren,3 bis unter 6 Jahren,6 bis unter 15 Jahren,15 bis unter 18 Jahren,18 bis unter 25 Jahren,25 bis unter 65 Jahren,15 bis unter 18 Jahren (Kinder),Erwerbs-fähige Leistungs-berechtigte (ELB),erziehende ELB,allein-erziehende ELB,arbeit-suchende ELB insgesamt,kein Hauptschul-abschluss,Hauptschul-abschluss,mittlere Reife,Fachhoch-schule,Abitur/ Hochschul-reife,keine Angabe,ohne abge-schlossene Berufs-ausbildung,betriebliche/schulische Ausbildung,akade-mische Ausbildung,keine Angabe,AGS,Gebiet
8,Männer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Frauen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6128.67,6117.92,1561.5,378.75,341.167,841.583,229.75,741.667,3585,219.833,4499,949.25,101,3487.5,707.75,1321.83,457.583,210.417,388.75,401.167,2415.08,903.083,167.333,2,5643.08,5631.25,1571.83,396.25,330.083,845.5,208,676.667,3174.75,199.083,3974,1950.5,1077.67,2442.58,416.083,933.5,396.5,88.75,223.667,384.083,1628.67,724.333,87.25,2.33333,01001000,"Flensburg, Stadt"
15,17856,17793.5,4702.67,1010.42,985.417,2706.83,771.917,1870.08,10448.8,742.583,12939.1,3024.25,186.917,9929.67,2238.25,3303.83,1309.17,523.917,1707.92,846.583,6687.33,2449.67,789.083,3.58333,16340.4,16293.7,4562.42,993.833,930.833,2637.75,707.083,1609.75,9414.42,677.25,11555.5,5476.58,2516.08,7028.58,1520.17,2319.17,1166.75,315.667,1036.67,670.167,4652.67,1829.08,542.833,4,01002000,"Kiel, Landeshauptstadt"
16,13417.8,13344.7,3785.83,824.083,803.75,2158,599.583,1231.58,7727.67,579.583,9471.17,2197.92,163.25,7217.67,1469.5,2749.33,961.417,380.417,574.75,1082.25,4873.92,2011.75,329.333,2.66667,12890,12834.2,3357.92,693.25,717.667,1947,543.417,1218.5,7714.33,524.583,9347.25,4388.67,2277.58,5824.17,1027.83,2093.08,1005.92,252,491.417,953.917,3802.25,1756.75,263.333,1.83333,01003000,"Lübeck, Hansestadt"
17,4778.92,4760.5,1312.08,280.667,284.833,746.583,216.833,506.75,2724.83,210.25,3358.58,804,65,2581.92,605.75,1091.92,284,77.3333,147.667,375.25,1870.25,656.75,54.4167,0.5,4680.83,4658.58,1295.92,264.583,287.667,743.667,171,553.25,2638.42,160.5,3284.25,1630.33,874.667,2077.08,454.083,889.833,256.083,34.4167,98.25,344.417,1543.5,494.417,38.3333,0.833333,01004000,"Neumünster, Stadt"

### 1.2 Spalte für Geschlecht ergänzen und Tabelle entsprechend stapeln

In [115]:
def apply_transformation(df):
    # Extrahiere männliche Daten aus den ersten 24 Spalten und den Spalten 48 und 49
    df_m = df.iloc[:, list(range(24)) + [48, 49]]
    
    # Extrahiere weibliche Daten aus den Spalten 24 bis 49
    df_w = df.iloc[:, 24:50]
    
    # Setze das Geschlecht für die weiblichen Daten auf "w"
    df_w.loc[:, "Geschlecht"] = "w"
    
    # Setze das Geschlecht für die männlichen Daten auf "m"
    df_m.loc[:, "Geschlecht"] = "m"
    
    # Entferne Zeile 8 aus den weiblichen Daten
    df_w = df_w.drop([8])
    
    # Entferne Zeile 8 aus den männlichen Daten
    df_m = df_m.drop([8])
    
    # Kombiniere die männlichen und weiblichen Daten zu einem DataFrame
    combined_df = df_m.append(df_w, ignore_index=True)
    
    # Umbenenne Spalten, indem Bindestriche "-" entfernt werden
    combined_df = combined_df.rename(columns=lambda x: x.replace('-', ''))
    
    return combined_df

# Dataframes transformieren
ba_2014_combined = apply_transformation(ba_2014)
ba_2018_combined = apply_transformation(ba_2018)
ba_2021_combined = apply_transformation(ba_2021)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [173]:
ba_2014_combined.head()

,Leistungsberechtigte (LB),unter 65 Jahren,unter 15 Jahren,unter 3 Jahren,3 bis unter 6 Jahren,6 bis unter 15 Jahren,15 bis unter 18 Jahren,18 bis unter 25 Jahren,25 bis unter 65 Jahren,15 bis unter 18 Jahren (Kinder),Erwerbsfähige Leistungsberechtigte (ELB),erziehende ELB,alleinerziehende ELB,arbeitsuchende ELB insgesamt,kein Hauptschulabschluss,Hauptschulabschluss,mittlere Reife,Fachhochschule,Abitur/ Hochschulreife,keine Angabe,ohne abgeschlossene Berufsausbildung,betriebliche/schulische Ausbildung,akademische Ausbildung,keine Angabe,AGS,Gebiet,Geschlecht
0,5243.25,5236.42,1198.08,273.667,236.833,687.583,198.25,576.333,3263.75,193,3956.25,697.667,84.75,3215.67,564.083,1606.08,472,174.583,174,224.917,1984.5,1101.75,87.75,41.6667,01001000,"Flensburg, Stadt",m
1,16628.9,16599.8,4059.83,888.333,834.25,2337.25,684.75,1519.33,10335.8,670.167,12245.1,2532.17,177.167,9485.75,1735.08,4051.83,1469.75,509.5,1110.92,608.667,5776.25,3057.75,533.5,118.25,01002000,"Kiel, Landeshauptstadt",m
2,13740.6,13711.6,3487,745.167,707.583,2034.25,588.917,1278.92,8356.75,579.583,10053.9,2136.17,160.167,7943.33,1408.92,3825.75,1176.25,394.5,453.083,684.833,4916.42,2600.83,241.333,184.75,01003000,"Lübeck, Hansestadt",m
3,5154.42,5144.42,1287.08,268.833,241.25,777,242.5,501.333,3113.5,236.167,3761.92,843.333,78.5,2972.75,653.25,1499.5,339.917,71.5833,116.833,291.667,1914.17,963.917,41.75,52.9167,01004000,"Neumünster, Stadt",m
4,198,197,57.6667,17,7.16667,33.5,4.25,18.0833,117,4.25,136.5,27.5,1.16667,110.25,24.0833,60.25,13.0833,2.25,4.41667,6.16667,56.5833,51.5,1.83333,0.333333,01051001,Albersdorf,m

Prüfen: "arbeitsuchende ELB insgesamt" übernehmen, NICHT "Erwerbsfähige Leistungsberechtigte (ELB)" ... was wurde übernommen?

### 1.3 Gestapelte Zieltabellen erstellen:


 - Ein DF mit den LB nach Altersgruppen, das sich  auf Anzahl Leistungsberechtigte (LB) aggregieren lässt
     - Spalten "LB unter 15 Jahren" löschen, da Summe der Spalten 4-6 in der Excel
     - Spalten "LB unter 65 Jahren" löschen, da Summe der Spalten 4-9 in der Excel Untergruppen 
     - Spalte "15 bis unter 18 Jahren (Kinder)" löschen, da unklare Bedeutung...?
     - Spalte "Über 65 Jahren" als Differenz aus Spalte 1 in der Excel "Leistungsberechtigte (LB)" und Spalte 2 in der Excel 
     - "LB unter 65 Jahren" könnte man noch berechnen, aber nur sehr geringe Zahlen, daher zunächst unterlassen...
 - Ein DF mit den arbeitssuchenden ELB nach Schulabschlüssen
     - Spalten 15 - 20 in der Excel
 - Ein DF mit den arbeitssuchenden ELB nach Berufsausbildung
     - Spalten 21- 24 in der Excel
 - Ein DF mit den ELB nach Erziehungsstatus? Noch ausstehend, da unklar was benötigt wird
     - Spalten 11-13 in der Excel

In [174]:
def apply_transformation(df, year):
    # relevante Spalten aus der kombinierten Datenframe extrahieren
    LB_nach_Altersgruppen = df.iloc[:, [3, 4, 5, 6, 7, 8, 24, 25, 26]].copy()

    # Datensatz in das "lange" Format umwandeln, indem die Altersgruppen in eine separate Spalte gemeltet werden
    LB_nach_Altersgruppen = pd.melt(LB_nach_Altersgruppen, id_vars=['AGS', 'Gebiet', 'Geschlecht'], value_vars=['unter 3 Jahren', '3 bis unter 6 Jahren', '6 bis unter 15 Jahren', '15 bis unter 18 Jahren', '18 bis unter 25 Jahren', '25 bis unter 65 Jahren'], var_name='Altersgruppe', value_name='Anzahl')

    # Spalte hinzufügen, um das Jahr zu speichern
    LB_nach_Altersgruppen['Jahr'] = year

    # Spalten "AGS" und "Jahr" in Ganzzahlen umwandeln
    LB_nach_Altersgruppen["AGS"] = pd.to_numeric(LB_nach_Altersgruppen["AGS"], downcast="integer")
    LB_nach_Altersgruppen["Jahr"] = pd.to_numeric(LB_nach_Altersgruppen["Jahr"], downcast="integer")

    # gleicher Vorgang für die ELB arbeitssuchend nach Schulabschlüssen
    ELB_arbeitssuchend_nach_Schulabschlüssen = df.iloc[:, [14, 15, 16, 17, 18, 19, 24, 25, 26]].copy()
    ELB_arbeitssuchend_nach_Schulabschlüssen = pd.melt(ELB_arbeitssuchend_nach_Schulabschlüssen, id_vars=['AGS', 'Gebiet', 'Geschlecht'], value_vars=['kein Hauptschulabschluss', 'Hauptschulabschluss', 'mittlere Reife', 'Fachhochschule', 'Abitur/ Hochschulreife', 'keine Angabe'], var_name='Schulabschluss', value_name='Anzahl')
    ELB_arbeitssuchend_nach_Schulabschlüssen['Jahr'] = year
    ELB_arbeitssuchend_nach_Schulabschlüssen["AGS"] = pd.to_numeric(ELB_arbeitssuchend_nach_Schulabschlüssen["AGS"], downcast="integer")
    ELB_arbeitssuchend_nach_Schulabschlüssen["Jahr"] = pd.to_numeric(ELB_arbeitssuchend_nach_Schulabschlüssen["Jahr"], downcast="integer")

    # gleicher Vorgang für die ELB arbeitssuchend nach Berufsausbildung
    ELB_arbeitssuchend_nach_Berufsausbildung = df.iloc[:, [20, 21, 22, 23, 24, 25, 26]].copy()
    ELB_arbeitssuchend_nach_Berufsausbildung = pd.melt(ELB_arbeitssuchend_nach_Berufsausbildung, id_vars=['AGS', 'Gebiet', 'Geschlecht'], value_vars=['ohne abgeschlossene Berufsausbildung', 'betriebliche/schulische Ausbildung', 'akademische Ausbildung', 'keine Angabe'], var_name='Berufsausbildung', value_name='Anzahl')
    ELB_arbeitssuchend_nach_Berufsausbildung['Jahr'] = year
    ELB_arbeitssuchend_nach_Berufsausbildung["AGS"] = pd.to_numeric(ELB_arbeitssuchend_nach_Berufsausbildung["AGS"], downcast="integer")
    ELB_arbeitssuchend_nach_Berufsausbildung["Jahr"] = pd.to_numeric(ELB_arbeitssuchend_nach_Berufsausbildung["Jahr"], downcast="integer")

    # Rückgabe der Ergebnisse in separaten Dataframes
    return LB_nach_Altersgruppen, ELB_arbeitssuchend_nach_Schulabschlüssen, ELB_arbeitssuchend_nach_Berufsausbildung

# Funktion ausführen
LB_nach_Altersgruppen_2014, ELB_arbeitssuchend_nach_Schulabschlüssen_2014, ELB_arbeitssuchend_nach_Berufsausbildung_2014 = apply_transformation(ba_2014_combined, 2014)
LB_nach_Altersgruppen_2018, ELB_arbeitssuchend_nach_Schulabschlüssen_2018, ELB_arbeitssuchend_nach_Berufsausbildung_2018 = apply_transformation(ba_2018_combined, 2018)
LB_nach_Altersgruppen_2021, ELB_arbeitssuchend_nach_Schulabschlüssen_2021, ELB_arbeitssuchend_nach_Berufsausbildung_2021 = apply_transformation(ba_2021_combined, 2021)

In [186]:
ELB_arbeitssuchend_nach_Schulabschlüssen_2018.tail()

             AGS         Gebiet Geschlecht Schulabschluss     Anzahl  Jahr
132403  16077047     Thonhausen          w   keine Angabe  0.0833333  2018
132404  16077048         Treben          w   keine Angabe          0  2018
132405  16077049   Vollmershain          w   keine Angabe          0  2018
132406  16077051   Wildenbörten          w   keine Angabe  0.0833333  2018
132407  16077052  Windischleuba          w   keine Angabe          0  2018

# 2. Bevölkerungsdaten umformen

In [119]:
# Liste mit den Dateinamen erstellen
file_names = glob.glob('bevoelkerung_alter_geschlecht_*.csv')

# Schleife über alle Dateien
for file in file_names:
    # Jahreszahl aus dem Dateinamen extrahieren
    year = file.split('_')[-1].split('.')[0]

    # Daten einlesen und jede CSV in einem DataFrame mit der Bezeichnung "bevoelkerung_yyyy" speichern
    df_name = 'bevoelkerung_' + year
    globals()[df_name] = pd.read_csv(file, encoding='ISO-8859-1', delimiter=';')

    # Umwandlung der Spalte "Geschlecht"
    for df in [globals()[df_name]]:
        df['Geschlecht'] = df['Geschlecht'].astype(str)
        df['Geschlecht'] = df['Geschlecht'].replace({'2': 'w', '1': 'm'})

    # Umwandlung der Spalte "Alter"
    for df in [globals()[df_name]]:
        df['Alter'] = df['Alter'].replace({'u3': 'unter 3 Jahren', '3-u6': '3 bis unter 6 Jahren',
                                           '6-u15': '6 bis unter 15 Jahren', '15-u18': '15 bis unter 18 Jahren',
                                           '18-u25': '18 bis unter 25 Jahren', '25-u65': '25 bis unter 65 Jahren'})

    # Entfernung der Zeilen mit den Werten "u65" und "ü65" in der Spalte "Alter"
    for df in [globals()[df_name]]:
        df.drop(df[(df['Alter'] == 'u65') | (df['Alter'] == 'ü65') | (df['Alter'] == 'insg')].index, inplace=True)
    
    # Spaltennamen ändern      
    for df in [globals()[df_name]]:
        df.rename(columns={"Alter": "Altersgruppe", "Anzahl": "Anzahl_Bevoelkerung"}, inplace=True)

In [179]:
bevoelkerung_2014.head(10)

        AGS Geschlecht            Altersgruppe  Anzahl_Bevoelkerung
1   1001000          m          unter 3 Jahren               1087.0
2   1001000          m    3 bis unter 6 Jahren               1054.0
3   1001000          m   6 bis unter 15 Jahren               3135.0
4   1001000          m  15 bis unter 18 Jahren               1163.0
5   1001000          m  18 bis unter 25 Jahren               4817.0
6   1001000          m  25 bis unter 65 Jahren              23068.0
10  1001000          w          unter 3 Jahren               1149.0
11  1001000          w    3 bis unter 6 Jahren               1013.0
12  1001000          w   6 bis unter 15 Jahren               2871.0
13  1001000          w  15 bis unter 18 Jahren               1117.0

#### Exkurs: herausfinden, wie sehr sich die Gebietskörperschaften der Jahrgänge unterscheiden

In [122]:
import itertools

# Liste der Dataframe-Namen
dfs = ["bevoelkerung_2014", "bevoelkerung_2015", "bevoelkerung_2016", "bevoelkerung_2017", "bevoelkerung_2018", "bevoelkerung_2019", "bevoelkerung_2020", "bevoelkerung_2021"]

# Leeres Dictionary, um die Ergebnisse zu speichern
results = {}

# Schleife über alle möglichen Paare von Dataframes
for pair in itertools.combinations(dfs, 2):
    df1 = pair[0]
    df2 = pair[1]
    
    # Vergleich der beiden Region-Spalten und Speicherung der Unterschiede in einem Set
    diff1 = set(eval(df1)['AGS']).difference(set(eval(df2)['AGS']))
    diff2 = set(eval(df2)['AGS']).difference(set(eval(df1)['AGS']))
    
    # Speicherung des Ergebnisses im Dictionary
    results[f"{df1} vs {df2}"] = {"diff1": diff1, "diff2": diff2}

# Ausgabe der Ergebnisse
for key, value in results.items():
    print(key)
    print("Anzahl der Unterschiede in " + key.split(" vs ")[0] + ":", len(value["diff1"]))
    print("Unterschiede in " + key.split(" vs ")[0] + ":", list(value["diff1"]))
    print("Anzahl der Unterschiede in " + key.split(" vs ")[1] + ":", len(value["diff2"]))
    print("Unterschiede in " + key.split(" vs ")[1] + ":", list(value["diff2"]))
    print("Gesamtanzahl der Unterschiede:", len(value["diff1"].union(value["diff2"])))
    print("-------------------------------------------------")

bevoelkerung_2014 vs bevoelkerung_2015
Anzahl der Unterschiede in bevoelkerung_2014: 29
Unterschiede in bevoelkerung_2014: [13071106, 3157003, 14521100, 3157004, 14729110, 3352003, 3352010, 3352012, 3352013, 3352015, 3352016, 3352027, 3352028, 3352030, 3352031, 3352034, 3352035, 3351013, 3352037, 3352040, 3153001, 3153004, 3351020, 3352047, 3352048, 3153011, 3153015, 3352057, 13071098]
Anzahl der Unterschiede in bevoelkerung_2015: 5
Unterschiede in bevoelkerung_2015: [3157009, 3351026, 3153018, 3352061, 3352062]
Gesamtanzahl der Unterschiede: 34
-------------------------------------------------
bevoelkerung_2014 vs bevoelkerung_2016
Anzahl der Unterschiede in bevoelkerung_2014: 111
Unterschiede in bevoelkerung_2014: [14522370, 3158024, 3157003, 3157004, 3158029, 3156002, 3156003, 3156006, 3156008, 3156009, 3156010, 3156011, 3156012, 3156013, 3156015, 3156016, 3156017, 3154011, 3154020, 3154023, 3153001, 3153004, 13076081, 3153011, 3153015, 3152001, 3152002, 3152003, 3152004, 3152005, 3152006, 3152007, 3152008, 3152009, 3152010, 3152011, 3152012, 3152013, 3152014, 3152015, 3152016, 3152017, 3152018, 3152019, 3152020, 3152021, 3152022, 3152023, 3152024, 3152025, 3152026, 3152027, 3152028, 3152029, 13076127, 13076157, 3254001, 3254004, 3254006, 3254007, 3254009, 3254010, 13071098, 3254012, 3254015, 3254016, 3254018, 3254019, 13071106, 3254023, 3254024, 3254025, 3254027, 14521100, 3254030, 3254031, 3254033, 3254034, 3254035, 3254036, 3254037, 3254038, 3254039, 3254040, 12071185, 3251039, 3251048, 14523250, 14729110, 3352003, 3352009, 3352010, 3352012, 3352013, 3352015, 3352016, 14627280, 3352018, 3352027, 3352028, 3352030, 3352031, 3352034, 3352035, 3351013, 3352037, 3352040, 3351020, 3352047, 3352048, 3352057]
Anzahl der Unterschiede in bevoelkerung_2016: 54
Unterschiede in bevoelkerung_2016: [3159034, 3159035, 3157009, 3159037, 3159038, 3158040, 3254041, 3254042, 3254043, 3254044, 3254045, 3159039, 3159032, 13076167, 3159033, 3159001, 3159002, 3159003, 3159004, 3159005, 3159006, 3159007, 3159008, 3159009, 3159010, 3159011, 3159012, 3159013, 3159014, 3159015, 3159016, 3251049, 3159017, 3154027, 3159018, 3159019, 3159020, 3159021, 3159022, 3159023, 3351026, 3159024, 3159025, 3159026, 3159027, 3159028, 3159029, 3159030, 3153018, 3159031, 3159036, 3352061, 3352062, 3352063]
Gesamtanzahl der Unterschiede: 165
-------------------------------------------------
bevoelkerung_2014 vs bevoelkerung_2017
Anzahl der Unterschiede in bevoelkerung_2014: 117
Unterschiede in bevoelkerung_2014: [14522370, 3158024, 3157003, 3157004, 3158029, 3156002, 3156003, 3156006, 3156008, 3156009, 3156010, 3156011, 3156012, 3156013, 3156015, 3156016, 3156017, 14729290, 3154003, 3154010, 3154011, 3154020, 3154023, 3153001, 3153004, 13076081, 3153011, 3153015, 14521470, 3152001, 3152002, 3152003, 3152004, 3152005, 3152006, 3152007, 3152008, 3152009, 3152010, 3152011, 3152012, 3152013, 3152014, 3152015, 3152016, 3152017, 3152018, 3152019, 3152020, 3152021, 3152022, 3152023, 3152024, 3152025, 3152026, 3152027, 3152028, 3152029, 13076127, 13076157, 3254001, 3254004, 3254006, 3254007, 3254009, 3254010, 13071098, 3254012, 3254015, 3254016, 3254018, 3254019, 13071106, 3254023, 3254024, 3254025, 3254027, 14521100, 3254030, 3254031, 3254033, 3254034, 3254035, 3254036, 3254037, 3254038, 3254039, 3254040, 12071185, 14625050, 3251039, 3251048, 14523250, 14729110, 3352003, 3352009, 3352010, 3352012, 3352013, 3352015, 3352016, 14627280, 3352018, 14523350, 3352027, 3352028, 3352030, 3352031, 3352034, 3352035, 3351013, 3352037, 3352040, 3351020, 3352047, 3352048, 3352057]
Anzahl der Unterschiede in bevoelkerung_2017: 55
Unterschiede in bevoelkerung_2017: [3159034, 3159035, 3159036, 3157009, 3159037, 3159038, 3158040, 3254041, 3254042, 3254043, 3254044, 3254045, 3159039, 3159032, 13076167, 3159033, 3159001, 3159002, 3159003, 3159004, 3159005, 3159006, 3159007, 3159008, 3159009, 3159010, 3159011, 3159012, 3159013, 3159014, 3159015, 3159016, 3251049, 3159017, 3154027, 3154028, 3159018, 3159019, 3159020, 3159021, 3159022, 3351026, 3159023, 3159024, 3159025, 3159026, 3159027, 3159028, 3159029, 3153018, 3159030, 3159031, 3352061, 3352062, 3352063]
Gesamtanzahl der Unterschiede: 172
-------------------------------------------------
bevoelkerung_2014 vs bevoelkerung_2018
Anzahl der Unterschiede in bevoelkerung_2014: 164
Unterschiede in bevoelkerung_2014: [14522370, 3158024, 3157003, 3157004, 16067085, 16067086, 3158029, 14729230, 16066067, 7232021, 3156002, 3156003, 3156006, 3156008, 3156009, 3156010, 3156011, 3156012, 3156013, 3156015, 16063024, 3156016, 3156017, 16062004, 16063029, 7232052, 16062016, 16062018, 14729290, 16063052, 3154003, 16062036, 3154010, 3154011, 13073026, 16063075, 3154020, 3154023, 3153001, 3153004, 13076081, 16063089, 3153011, 3153015, 6437002, 16061052, 14521470, 3152001, 3152002, 3152003, 3152004, 3152005, 3152006, 3152007, 3152008, 3152009, 3152010, 3152011, 3152012, 3152013, 3152014, 3152015, 3152016, 3152017, 3152018, 3152019, 3152020, 3152021, 3152022, 3152023, 3152024, 3152025, 3152026, 3152027, 3152028, 3152029, 6437008, 13076127, 13073056, 6437014, 13072054, 6437015, 13076157, 13073091, 1059014, 1059016, 1059021, 16077006, 1059033, 16077019, 3254001, 3254004, 3254006, 3254007, 1059064, 3254009, 3254010, 13071098, 3254012, 3254015, 3254016, 16077055, 3254018, 3254019, 13071106, 3254023, 3254024, 3254025, 3254027, 14521100, 1059085, 3254030, 3254031, 3254033, 3254034, 3254035, 3254036, 3254037, 3254038, 3254039, 3254040, 12071185, 14625050, 16072005, 16072009, 16073036, 16072014, 3251039, 3251048, 14523250, 16070018, 16073101, 16070032, 16073108, 14729110, 16070042, 16070055, 16070056, 16069048, 3352003, 16069059, 3352009, 3352010, 3352012, 3352013, 16068047, 3352015, 3352016, 3352018, 14627280, 14523350, 3352027, 3352028, 3352030, 3352031, 3352034, 3352035, 3351013, 3352037, 3352040, 3351020, 3352047, 3352048, 3352057]
Anzahl der Unterschiede in bevoelkerung_2018: 62
Unterschiede in bevoelkerung_2018: [3159034, 3159035, 3159036, 16067089, 3157009, 3159037, 3159038, 3158040, 3254041, 3254042, 3254043, 3254044, 3254045, 3159039, 6437016, 7232502, 3159030, 3159032, 13076167, 3159031, 13073107, 3159033, 16072024, 3159001, 3159002, 3159003, 3159004, 3159005, 3159006, 3159007, 3159008, 3159009, 3159010, 3159011, 3159012, 3159013, 3159014, 3159015, 3159016, 3251049, 3159017, 3154027, 3154028, 3159018, 3159019, 3159020, 3159021, 3159022, 3351026, 3159023, 1059188, 1059189, 3159024, 3159025, 3159026, 3159027, 3153018, 3159028, 3159029, 3352061, 3352062, 3352063]
Gesamtanzahl der Unterschiede: 226
-------------------------------------------------
bevoelkerung_2014 vs bevoelkerung_2019
Anzahl der Unterschiede in bevoelkerung_2014: 407
Unterschiede in bevoelkerung_2014: [14522370, 3158024, 3158029, 14729230, 3156002, 3156003, 3156006, 3156008, 3156009, 3156010, 3156011, 3156012, 3156013, 3156015, 3156016, 3156017, 14729290, 3154003, 3154010, 3154011, 3154020, 3154023, 3152001, 3152002, 3152003, 3152004, 3152005, 3152006, 3152007, 3152008, 3152009, 3152010, 3152011, 3152012, 3152013, 3152014, 3152015, 3152016, 3152017, 3152018, 3152019, 3152020, 3152021, 3152022, 3152023, 3152024, 3152025, 3152026, 3152027, 3152028, 3152029, 6437014, 6437015, 1059014, 1059016, 16077002, 16077004, 1059021, 16077006, 1059033, 16077019, 16077029, 16077037, 1059064, 16075002, 16075003, 16075004, 16077051, 16077055, 16075008, 16075009, 16075013, 16075018, 1059085, 12071185, 14625050, 16075042, 16075049, 16075061, 16073021, 16075071, 16073036, 16075086, 16073049, 16075097, 16073054, 16071006, 16073056, 16071007, 16075106, 16071011, 16071012, 16073063, 16073065, 16073066, 16073068, 16071023, 16071028, 16073079, 16071034, 16071036, 16071039, 16071044, 16071047, 16071048, 16069002, 16071051, 16073101, 16071057, 16073105, 16073108, 16069015, 16071065, 16069019, 16071067, 16071073, 16071076, 16071081, 16071082, 16071085, 16069039, 16071088, 16071092, 16069048, 16071097, 16071099, 16067003, 16067005, 16067006, 16067008, 16069059, 16067021, 14627280, 16067025, 16067027, 16067032, 16067035, 16067037, 16067039, 3351013, 16065002, 3351020, 16067054, 16067056, 16065011, 16065013, 16065022, 16067074, 16067075, 16067078, 16065031, 16065033, 16065034, 16065035, 16067081, 16067085, 16067086, 16065039, 16067083, 7232021, 16065047, 16065054, 16063007, 16063009, 16065057, 16063013, 16063014, 16065061, 16063016, 16063017, 16063019, 16063024, 16065072, 16065076, 16063029, 7232052, 16065081, 16063036, 16063039, 16061004, 16063052, 16063055, 16063059, 13075028, 16061022, 16063072, 16061025, 16063075, 16063081, 16061038, 13075057, 16063089, 16061043, 16063093, 16061046, 16061052, 16061054, 16061055, 16063102, 13073026, 16061059, 16061061, 13075086, 13073047, 16061087, 13073056, 13073058, 13071030, 13071038, 13073091, 14521030, 13071046, 14521050, 13071091, 13071095, 13071098, 13071106, 14625540, 14521100, 13071116, 13071149, 13071152, 13071165, 13071168, 3251039, 3251048, 14523250, 14523350, 3157003, 3157004, 7339027, 7339061, 3153001, 3153004, 3153011, 3153015, 6437002, 14521470, 6437008, 16076052, 16074006, 16072001, 16072005, 16072009, 16072014, 16074069, 16070002, 16070003, 16070005, 16070014, 16070015, 16070016, 16070017, 16070018, 16070019, 16070021, 16070022, 16070023, 16070024, 16070025, 16070027, 16070031, 16070032, 16070033, 16070037, 16070038, 16070042, 16070044, 16070046, 16070049, 16068003, 16068004, 16070052, 16068006, 16070053, 16068008, 16070055, 16070056, 16068011, 16068012, 16068016, 16068023, 16068024, 16068026, 16068027, 16068028, 16068029, 16068031, 16068035, 3352003, 16068038, 3352009, 3352010, 3352012, 3352013, 16068046, 16068047, 3352015, 3352016, 16066001, 3352018, 16066002, 16066006, 16066008, 3352027, 3352028, 3352030, 3352031, 3352034, 3352035, 3352037, 3352040, 16066028, 3352047, 3352048, 16066033, 16066035, 16066036, 3352057, 16066043, 16066044, 16066048, 16064001, 16066051, 16066053, 16064008, 16066062, 16064017, 16064018, 16066067, 16064023, 16066071, 16066075, 16064029, 16066077, 16066078, 16066082, 16064035, 16064036, 16066083, 16066084, 16066085, 16066088, 16064047, 16064048, 16062002, 16062004, 16064052, 16062006, 16062007, 16064057, 16062014, 16062016, 16064065, 16062018, 16064066, 16062025, 13076043, 16062029, 16062036, 16062039, 16062058, 16062059, 13074029, 13076081, 13076084, 13074045, 13076095, 13074058, 13074063, 13072016, 13072025, 13076123, 13076127, 13076132, 13076137, 13076139, 13072052, 13072054, 13076157, 13072068, 3254001, 3254004, 3254006, 3254007, 3254009, 3254010, 3254012, 3254015, 3254016, 3254018, 3254019, 3254023, 3254024, 3254025, 3254027, 3254030, 3254031, 3254033, 3254034, 3254035, 3254036, 3254037, 3254038, 3254039, 3254040, 14729110]
Anzahl der Unterschiede in bevoelkerung_2019: 90
Unterschiede in bevoelkerung_2019: [16067089, 3157009, 16067091, 16067092, 3158040, 16066095, 16065086, 16065087, 16065088, 16064076, 16064077, 3154027, 3154028, 16062066, 3153018, 16063103, 16063104, 6437016, 7232502, 13074094, 16061118, 13076167, 13076168, 13076169, 14521035, 13073107, 13075156, 3254041, 3254042, 3254043, 3254044, 3254045, 3352061, 3352062, 3352063, 13071175, 13071176, 3159024, 16072024, 3159026, 3159027, 3251049, 1059188, 1059189, 16075136, 16073113, 16070057, 16070058, 16071102, 16071103, 16069063, 3159001, 3159002, 3159003, 3159004, 3159005, 3159006, 16068063, 16068064, 3159007, 3159008, 3159009, 3159010, 3159011, 3159012, 3159013, 3159014, 3159015, 3159016, 3159017, 3159018, 3159019, 3159020, 3159021, 3159022, 3159025, 3351026, 3159023, 3159028, 3159029, 3159030, 3159031, 3159032, 3159033, 3159034, 3159035, 3159036, 3159037, 3159038, 3159039]
Gesamtanzahl der Unterschiede: 497
-------------------------------------------------
bevoelkerung_2014 vs bevoelkerung_2020
Anzahl der Unterschiede in bevoelkerung_2014: 412
Unterschiede in bevoelkerung_2014: [14522370, 3158024, 3158029, 14729230, 3156002, 3156003, 3156006, 3156008, 3156009, 3156010, 3156011, 3156012, 3156013, 3156015, 3156016, 3156017, 14729290, 3154003, 3154010, 3154011, 3154020, 3154023, 3152001, 3152002, 3152003, 3152004, 3152005, 3152006, 3152007, 3152008, 3152009, 3152010, 3152011, 3152012, 3152013, 3152014, 3152015, 3152016, 3152017, 3152018, 3152019, 3152020, 3152021, 3152022, 3152023, 3152024, 3152025, 3152026, 3152027, 3152028, 3152029, 6437014, 6437015, 1059014, 1059016, 16077002, 16077004, 1059021, 16077006, 1059033, 16077019, 16077029, 16077037, 1059064, 16075002, 16075003, 16075004, 16077051, 16077055, 16075008, 16075009, 16075013, 16075018, 1059085, 12071185, 14625050, 16075042, 16075049, 16075061, 16073021, 16075071, 16073036, 16075086, 16073049, 16075097, 16073054, 16071006, 16073056, 16071007, 16075106, 16071011, 16071012, 16073063, 16073065, 16073066, 16073068, 16071023, 16071028, 16073079, 16071034, 16071036, 16071039, 16071044, 16071047, 16071048, 16069002, 16071051, 16073101, 16071057, 16073105, 16073108, 16069015, 16071065, 16069019, 16071067, 16071073, 16071076, 16071081, 16071082, 16071085, 16069039, 16071088, 16071092, 16069048, 16071097, 16071099, 16067003, 16067005, 16067006, 16067008, 16069059, 16067021, 14627280, 16067025, 16067027, 16067032, 16067035, 16067037, 16067039, 3351013, 16065002, 3351020, 16067054, 16067056, 16065011, 16065013, 16065022, 16067074, 16067075, 16067078, 16065031, 16065033, 16065034, 16065035, 16067081, 16067085, 16067086, 16065039, 16067083, 7232021, 16065047, 16065054, 16063007, 16063009, 16065057, 16063013, 16063014, 16065061, 16063016, 16063017, 16063019, 16063024, 16065072, 16065076, 16063029, 7232052, 16065081, 16063036, 16063039, 16061004, 16063052, 16063055, 16063059, 13075028, 16061022, 16063072, 16061025, 16063075, 16063081, 16061038, 13075057, 16063089, 16061043, 16063093, 16061046, 16063094, 16061052, 16061054, 16061055, 16063102, 13073026, 16061059, 16061061, 13075086, 13073047, 16061087, 13073056, 13073058, 13071030, 13071038, 13073091, 14521030, 13071046, 14521050, 13071091, 13071095, 13071098, 13071106, 14625540, 14521100, 13071116, 13071149, 13071152, 13071165, 13071168, 3251039, 3251048, 14523250, 14523350, 3157003, 3157004, 7339027, 7339061, 3153001, 3153004, 3153011, 3153015, 6437002, 14521470, 6437008, 16076052, 16074006, 3358004, 16072001, 16072005, 3358022, 16072009, 16072014, 16074069, 16070002, 16070003, 16070005, 16070014, 16070015, 16070016, 16070017, 16070018, 16070019, 16070021, 16070022, 16070023, 16070024, 16070025, 16070027, 16070031, 16070032, 16070033, 16070037, 16070038, 16070042, 16070044, 16070046, 16070049, 16068003, 16068004, 16070052, 16068006, 16070053, 16068008, 16070055, 16070056, 16068011, 16068012, 16068016, 16068023, 16068024, 16068026, 16068027, 16068028, 16068029, 16068031, 16068035, 3352003, 16068038, 3352009, 3352010, 3352012, 3352013, 16068046, 16068047, 3352015, 3352016, 16066001, 3352018, 16066002, 16066006, 16066008, 3352027, 3352028, 3352030, 3352031, 3352034, 3352035, 3352037, 3352040, 16066028, 3352047, 3352048, 16066033, 16066035, 16066036, 3352057, 16066043, 16066044, 16066048, 16064001, 16066051, 16066053, 16064008, 16066062, 16064017, 16064018, 16066067, 16064023, 16066071, 16066075, 16064029, 16066077, 16066078, 16066082, 16064035, 16064036, 16066083, 16066084, 16066085, 16066088, 16064047, 16064048, 16062002, 16062004, 16064052, 16062006, 16062007, 16064057, 6633021, 16062014, 16062016, 16064065, 16062018, 16064066, 6633027, 16062025, 13076043, 16062029, 16062036, 16062039, 16062058, 16062059, 13074029, 13076081, 13076084, 13074045, 13076095, 13074058, 13074063, 13072016, 13072025, 13076123, 13076127, 13076132, 13076137, 13076139, 13072052, 13072054, 13076157, 13072068, 3254001, 3254004, 3254006, 3254007, 3254009, 3254010, 3254012, 3254015, 3254016, 3254018, 3254019, 3254023, 3254024, 3254025, 3254027, 3254030, 3254031, 3254033, 3254034, 3254035, 3254036, 3254037, 3254038, 3254039, 3254040, 14729110]
Anzahl der Unterschiede in bevoelkerung_2020: 92
Unterschiede in bevoelkerung_2020: [16067089, 3157009, 16067091, 16067092, 3158040, 16066095, 16065086, 16065087, 16065088, 6633030, 16064076, 16064077, 3154027, 3154028, 16062066, 3153018, 16063103, 16063104, 6437016, 7232502, 13074094, 16061118, 13076167, 13076168, 13076169, 14521035, 13073107, 13075156, 3254041, 3254042, 3254043, 3254044, 3254045, 3352061, 3352062, 3352063, 13071175, 3358024, 13071176, 3159024, 16072024, 3159026, 3159027, 3251049, 1059188, 1059189, 16075136, 16073113, 16070057, 16070058, 16071102, 16071103, 16069063, 3159001, 3159002, 3159003, 3159004, 3159005, 3159006, 16068063, 16068064, 3159007, 3159008, 3159009, 3159010, 3159011, 3159012, 3159013, 3159014, 3159015, 3159016, 3159017, 3159018, 3159019, 3159020, 3159021, 3159022, 3159025, 3351026, 3159023, 3159028, 3159029, 3159030, 3159031, 3159032, 3159033, 3159034, 3159035, 3159036, 3159037, 3159038, 3159039]
Gesamtanzahl der Unterschiede: 504
-------------------------------------------------
bevoelkerung_2014 vs bevoelkerung_2021
Anzahl der Unterschiede in bevoelkerung_2014: 423

In [125]:
def check_value_in_dataframe(df_name, value):
    
    # Überprüft, ob der Wert in der Spalte 'AGS' des Dataframes enthalten ist:
    # True, wenn der Wert in der Spalte 'AGS' des Dataframes enthalten ist, sonst False.
    
    df = globals()[df_name]  # Zugriff auf den Dataframe über den Namen
    return value in df['AGS'].values

result = check_value_in_dataframe('bevoelkerung_2020', 16056000)
print(result)  # Ausgabe: True oder False, je nachdem ob der Wert in der Spalte 'AGS' enthalten ist...

True

# 3. Sozial- und Bevölkerungsdaten mergen und Quoten berechnen

## 3.1 Mergen

In [131]:
LB_nach_Altersgruppen_2021.head()

       AGS                  Gebiet Geschlecht    Altersgruppe   Anzahl  Jahr
0  1001000        Flensburg, Stadt          m  unter 3 Jahren  359.333  2021
1  1002000  Kiel, Landeshauptstadt          m  unter 3 Jahren    852.5  2021
2  1003000      Lübeck, Hansestadt          m  unter 3 Jahren  587.583  2021
3  1004000       Neumünster, Stadt          m  unter 3 Jahren  277.583  2021
4  1051001              Albersdorf          m  unter 3 Jahren  6.08333  2021

In [133]:
bevoelkerung_2021.head()

       AGS Geschlecht            Altersgruppe  Anzahl_Bevoelkerung
1  1001000          m          unter 3 Jahren               1430.0
2  1001000          m    3 bis unter 6 Jahren               1330.0
3  1001000          m   6 bis unter 15 Jahren               3559.0
4  1001000          m  15 bis unter 18 Jahren               1149.0
5  1001000          m  18 bis unter 25 Jahren               4983.0

In [132]:
bevoelkerung_2021['Altersgruppe'].unique()

array(['unter 3 Jahren', '3 bis unter 6 Jahren', '6 bis unter 15 Jahren',
       '15 bis unter 18 Jahren', '18 bis unter 25 Jahren',
       '25 bis unter 65 Jahren'], dtype=object)

#### Plan fürs mergen (hier für 2021, aber analog auch auf die anderen jahrgänge übertragen):

#####    - LB_nach_Altersgruppen_2021 und bevoelkerung_2021: 
        - Ziel: Anteil der LB nach altersgruppen an der Gesamtzahl der LB u65 berechnen
        - Vorbereitung: bevoelkerung_2021 gruppieren nach "AGS" und "Geschlecht", 
        sodass Summe der u65 Jährigen gebildet wird für SGBII-Quote
        - merge über die Spalten "AGS", "Geschlecht"
#####    - ELB_arbeitssuchend_nach_Berufsausbildung_2021 und bevoelkerung 2021:
        - Ziel: Anteil der ELB nach Berufsausbildung und Geschlecht an der Gesamtzahl der ELB 15-u65 berechnen
        - Vorbereitung: bevoelkerung_2021 alle Zeilen droppen, wo "Altersgruppe" nicht "15 bis unter 18 Jahren",
        "18 bis unter 25 Jahren" oder "25 bis unter 65 Jahren" enthält, gruppieren nach "AGS" und "Geschlecht", 
        sodass Summe der 15-u65 Jährigen gebildet wird für ELB-Quote
        - merge über die Spalten "AGS", "Geschlecht"
#####    - ELB_arbeitssuchend_nach_Schulabschlüssen_2021 und bevoelkerung 2021:
        - Ziel: Anteil der ELB nach Schulabschluss und Geschlecht an der Gesamtzahl der ELB 15-u65 berechnen
        - Vorbereitung: bevoelkerung_2021 alle Zeilen droppen, wo "Altersgruppe" nicht "15 bis unter 18 Jahren", 
        "18 bis unter 25 Jahren" oder "25 bis unter 65 Jahren" enthält, gruppieren nach "AGS" und "Geschlecht", 
        sodass Summe der 15-u65 Jährigen gebildet wird für ELB-Quote
        - merge über die Spalten "AGS", "Geschlecht"

In [189]:
# dataframes für 2014 mergen

## LB

bevoelkerung_grouped = bevoelkerung_2014.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_lb_bev_2014 = LB_nach_Altersgruppen_2014.merge(bevoelkerung_grouped, on=["AGS", "Geschlecht"])

## ELB nach Schulabschlüssen

bevoelkerung_filtered = bevoelkerung_2014[
    bevoelkerung_2014["Altersgruppe"].isin(["15 bis unter 18 Jahren", "18 bis unter 25 Jahren", "25 bis unter 65 Jahren"])
]
bevoelkerung_filtered_grouped = bevoelkerung_filtered.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_elb_schulabschl_2014 = ELB_arbeitssuchend_nach_Schulabschlüssen_2014.merge(bevoelkerung_filtered_grouped, on=["AGS", "Geschlecht"])

## ELB nach Berufsausbildung

bevoelkerung_filtered = bevoelkerung_2014[
    bevoelkerung_2014["Altersgruppe"].isin(["15 bis unter 18 Jahren", "18 bis unter 25 Jahren", "25 bis unter 65 Jahren"])
]
bevoelkerung_filtered_grouped = bevoelkerung_filtered.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_elb_berufsausb_2014 = ELB_arbeitssuchend_nach_Berufsausbildung_2014.merge(bevoelkerung_filtered_grouped, on=["AGS", "Geschlecht"])

# dataframes für 2018 mergen

## LB

bevoelkerung_grouped = bevoelkerung_2018.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_lb_bev_2018 = LB_nach_Altersgruppen_2018.merge(bevoelkerung_grouped, on=["AGS", "Geschlecht"])

## ELB nach Schulabschlüssen

bevoelkerung_filtered = bevoelkerung_2018[
    bevoelkerung_2018["Altersgruppe"].isin(["15 bis unter 18 Jahren", "18 bis unter 25 Jahren", "25 bis unter 65 Jahren"])
]
bevoelkerung_filtered_grouped = bevoelkerung_filtered.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_elb_schulabschl_2018 = ELB_arbeitssuchend_nach_Schulabschlüssen_2018.merge(bevoelkerung_filtered_grouped, on=["AGS", "Geschlecht"])

## ELB nach Berufsausbildung

bevoelkerung_filtered = bevoelkerung_2018[
    bevoelkerung_2018["Altersgruppe"].isin(["15 bis unter 18 Jahren", "18 bis unter 25 Jahren", "25 bis unter 65 Jahren"])
]
bevoelkerung_filtered_grouped = bevoelkerung_filtered.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_elb_berufsausb_2018 = ELB_arbeitssuchend_nach_Berufsausbildung_2018.merge(bevoelkerung_filtered_grouped, on=["AGS", "Geschlecht"])

# dataframes für 2021 mergen

## LB

bevoelkerung_grouped = bevoelkerung_2021.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_lb_bev_2021 = LB_nach_Altersgruppen_2021.merge(bevoelkerung_grouped, on=["AGS", "Geschlecht"])

## ELB nach Schulabschlüssen

bevoelkerung_filtered = bevoelkerung_2021[
    bevoelkerung_2021["Altersgruppe"].isin(["15 bis unter 18 Jahren", "18 bis unter 25 Jahren", "25 bis unter 65 Jahren"])
]
bevoelkerung_filtered_grouped = bevoelkerung_filtered.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_elb_schulabschl_2021 = ELB_arbeitssuchend_nach_Schulabschlüssen_2021.merge(bevoelkerung_filtered_grouped, on=["AGS", "Geschlecht"])

## ELB nach Berufsausbildung

bevoelkerung_filtered = bevoelkerung_2021[
    bevoelkerung_2021["Altersgruppe"].isin(["15 bis unter 18 Jahren", "18 bis unter 25 Jahren", "25 bis unter 65 Jahren"])
]
bevoelkerung_filtered_grouped = bevoelkerung_filtered.groupby(["AGS", "Geschlecht"], as_index=False).agg({"Altersgruppe": "sum", "Anzahl_Bevoelkerung": "sum"})
merged_elb_berufsausb_2021 = ELB_arbeitssuchend_nach_Berufsausbildung_2021.merge(bevoelkerung_filtered_grouped, on=["AGS", "Geschlecht"])

In [190]:
merged_elb_schulabschl_2021.head()

,AGS,Gebiet,Geschlecht,Schulabschluss,Anzahl,Jahr,Altersgruppe,Anzahl_Bevoelkerung
0,1001000,"Flensburg, Stadt",m,kein Hauptschulabschluss,612.25,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,31016.0
1,1001000,"Flensburg, Stadt",m,Hauptschulabschluss,1186,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,31016.0
2,1001000,"Flensburg, Stadt",m,mittlere Reife,422.917,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,31016.0
3,1001000,"Flensburg, Stadt",m,Fachhochschule,181.25,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,31016.0
4,1001000,"Flensburg, Stadt",m,Abitur/ Hochschulreife,314.083,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,31016.0

### 3.2 Ergebnistabellen stapeln

In [191]:
stacked_lb_bev = pd.concat([merged_lb_bev_2014, merged_lb_bev_2018, merged_lb_bev_2021], ignore_index=True)

stacked_elb_schulabschl = pd.concat([merged_elb_schulabschl_2014, merged_elb_schulabschl_2018, merged_elb_schulabschl_2021], ignore_index=True)

stacked_elb_berufsausb = pd.concat([merged_elb_berufsausb_2014, merged_elb_berufsausb_2018, merged_elb_berufsausb_2021], ignore_index=True)

In [192]:
stacked_elb_schulabschl.tail()

,AGS,Gebiet,Geschlecht,Schulabschluss,Anzahl,Jahr,Altersgruppe,Anzahl_Bevoelkerung
392599,16077052,Windischleuba,w,Hauptschulabschluss,2.33333,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,540.0
392600,16077052,Windischleuba,w,mittlere Reife,4.33333,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,540.0
392601,16077052,Windischleuba,w,Fachhochschule,1,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,540.0
392602,16077052,Windischleuba,w,Abitur/ Hochschulreife,0,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,540.0
392603,16077052,Windischleuba,w,keine Angabe,0,2021,15 bis unter 18 Jahren18 bis unter 25 Jahren25...,540.0

In [193]:
stacked_elb_berufsausb["Altersgruppe"].unique()

array(['15 bis unter 18 Jahren18 bis unter 25 Jahren25 bis unter 65 Jahren'],
      dtype=object)

### 3.3 Ergebnistabellen Spalten umbennen

In [194]:
# Umbenennungen im DataFrame "stacked_lb_bev"
stacked_lb_bev = stacked_lb_bev.rename(columns={"Anzahl_Bevoelkerung": "Anzahl_Bevoelkerung_u65",
                                                "Altersgruppe_x": "Altersgruppe_LB",
                                                "Anzahl": "Anzahl_LB"})
stacked_lb_bev = stacked_lb_bev.drop(columns="Altersgruppe_y")

# Umbenennungen im DataFrame "stacked_elb_schulabschl"
stacked_elb_schulabschl = stacked_elb_schulabschl.rename(columns={"Anzahl_Bevoelkerung": "Anzahl_Bevoelkerung_15_bis_u65",
                                                                  "Anzahl": "Anzahl_ELB"})
stacked_elb_schulabschl = stacked_elb_schulabschl.drop(columns="Altersgruppe")

# Umbenennungen im DataFrame "stacked_elb_berufsausb"
stacked_elb_berufsausb = stacked_elb_berufsausb.rename(columns={"Anzahl_Bevoelkerung": "Anzahl_Bevoelkerung_15_bis_u65",
                                                                "Anzahl": "Anzahl_ELB"})
stacked_elb_berufsausb = stacked_elb_berufsausb.drop(columns="Altersgruppe")

In [195]:
stacked_elb_berufsausb.head()

,AGS,Gebiet,Geschlecht,Berufsausbildung,Anzahl_ELB,Jahr,Anzahl_Bevoelkerung_15_bis_u65
0,1001000,"Flensburg, Stadt",m,ohne abgeschlossene Berufsausbildung,1984.5,2014,29048.0
1,1001000,"Flensburg, Stadt",m,betriebliche/schulische Ausbildung,1101.75,2014,29048.0
2,1001000,"Flensburg, Stadt",m,akademische Ausbildung,87.75,2014,29048.0
3,1001000,"Flensburg, Stadt",m,keine Angabe,41.6667,2014,29048.0
4,1002000,"Kiel, Landeshauptstadt",m,ohne abgeschlossene Berufsausbildung,5776.25,2014,84000.0

In [208]:
# wie hoch ist anteil der gemeinden mit unter 100 Einwohnern
weniger_100 = stacked_lb_bev['Anzahl_Bevoelkerung_u65'][stacked_lb_bev['Anzahl_Bevoelkerung_u65'] < 100].count()

insgesamt = stacked_lb_bev['Anzahl_Bevoelkerung_u65'].count()

anteil = (weniger_100 / insgesamt) * 100 

print(f"Anteil der AGS mit weniger als 100 an Gesamtzahl de r AGS: {anteil}%")

Anteil der AGS mit weniger als 100 an Gesamtzahl de r AGS: 8.972399669896385%

### 3.3 Quoten berechnen

In [197]:
# Berechnung der SGB2-Quote (%)

stacked_lb_bev["SGB2-Quote (%)"] = (stacked_lb_bev["Anzahl_LB"] / stacked_lb_bev["Anzahl_Bevoelkerung_u65"]) * 100
stacked_lb_bev.tail()

,AGS,Gebiet,Geschlecht,Altersgruppe_LB,Anzahl_LB,Jahr,Anzahl_Bevoelkerung_u65,SGB2-Quote (%)
392599,16077052,Windischleuba,w,3 bis unter 6 Jahren,0,2021,664.0,0
392600,16077052,Windischleuba,w,6 bis unter 15 Jahren,0,2021,664.0,0
392601,16077052,Windischleuba,w,15 bis unter 18 Jahren,0,2021,664.0,0
392602,16077052,Windischleuba,w,18 bis unter 25 Jahren,0.5,2021,664.0,0.0753012
392603,16077052,Windischleuba,w,25 bis unter 65 Jahren,7.91667,2021,664.0,1.19227

In [198]:
# Berechnung der ELB-Quote nach Berufsausbildung (%)
stacked_elb_berufsausb["ELB-Quote (%)"] = (stacked_elb_berufsausb["Anzahl_ELB"] / stacked_elb_berufsausb["Anzahl_Bevoelkerung_15_bis_u65"]) * 100
stacked_elb_berufsausb.head()

,AGS,Gebiet,Geschlecht,Berufsausbildung,Anzahl_ELB,Jahr,Anzahl_Bevoelkerung_15_bis_u65,ELB-Quote (%)
0,1001000,"Flensburg, Stadt",m,ohne abgeschlossene Berufsausbildung,1984.5,2014,29048.0,6.8318
1,1001000,"Flensburg, Stadt",m,betriebliche/schulische Ausbildung,1101.75,2014,29048.0,3.79286
2,1001000,"Flensburg, Stadt",m,akademische Ausbildung,87.75,2014,29048.0,0.302086
3,1001000,"Flensburg, Stadt",m,keine Angabe,41.6667,2014,29048.0,0.143441
4,1002000,"Kiel, Landeshauptstadt",m,ohne abgeschlossene Berufsausbildung,5776.25,2014,84000.0,6.87649

In [199]:
# Berechnung der ELB-Quote nach Schulabschlus (%)
stacked_elb_schulabschl["ELB-Quote (%)"] = (stacked_elb_schulabschl["Anzahl_ELB"] / stacked_elb_schulabschl["Anzahl_Bevoelkerung_15_bis_u65"]) * 100
stacked_elb_schulabschl.tail()

,AGS,Gebiet,Geschlecht,Schulabschluss,Anzahl_ELB,Jahr,Anzahl_Bevoelkerung_15_bis_u65,ELB-Quote (%)
392599,16077052,Windischleuba,w,Hauptschulabschluss,2.33333,2021,540.0,0.432099
392600,16077052,Windischleuba,w,mittlere Reife,4.33333,2021,540.0,0.802469
392601,16077052,Windischleuba,w,Fachhochschule,1,2021,540.0,0.185185
392602,16077052,Windischleuba,w,Abitur/ Hochschulreife,0,2021,540.0,0
392603,16077052,Windischleuba,w,keine Angabe,0,2021,540.0,0

### 3.4 Tabellen exportieren als Excel und CSV

In [105]:
# DataFrame stacked_elb_schulabschl speichern
stacked_elb_schulabschl.to_excel('elb_quote_schulabschl_14_18_21.xlsx', index=False)
stacked_elb_schulabschl.to_csv('elb_quote_schulabschl_14_18_21.csv', index=False)

# DataFrame stacked_elb_berufsausb speichern
stacked_elb_berufsausb.to_excel('elb_quote_berufsausb_14_18_21.xlsx', index=False)
stacked_elb_berufsausb.to_csv('elb_quote_berufsausb_14_18_21.csv', index=False)

# DataFrame stacked_lb_bev speichern
stacked_lb_bev.to_excel('sgb2_quote_14_18_21.xlsx', index=False)
stacked_lb_bev.to_csv('sgb2_quote_14_18_21.csv', index=False)

In [153]:
stacked_elb_schulabschl["ELB-Quote (%)"].describe()

count     392604.0
unique    163509.0
top            0.0
freq      114626.0
Name: ELB-Quote (%), dtype: float64

In [156]:

# Höchste Werte
topten = stacked_elb_schulabschl.sort_values('ELB-Quote (%)', ascending=False).head(10)[['Gebiet', 'Jahr', 'ELB-Quote (%)']]

print("\nTop 10:")
print(topten)

Top 10:
                    Gebiet  Jahr ELB-Quote (%)
157567                 Ueß  2018       19.4444
61            Bergewöhrden  2014       16.6667
138823           Freistatt  2018       15.7676
118861          Voigtsdorf  2014       15.1961
55579          Groß Luckow  2014       14.7135
268885              Büttel  2021       14.2857
270973           Freistatt  2021       13.9501
119132          Dalkendorf  2014       13.5684
149603         Heinzenberg  2018       13.0952
118208  Demmin, Hansestadt  2014       12.8546